
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1300px;
}
ul,li
{
  list-style: none;
  margin: 0;
  padding: 0;
}
a:hover{
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0D4077; 
}
 
::-webkit-scrollbar-thumb {
  background: #F00A0C;
  transition: 0.3s ease-in-out; 
}

::-webkit-scrollbar-thumb:hover {
  background: #F00A0C;
  transition: 0.3s ease-in-out;  
}
.swal2-title {
  font-size: 17px;
}
.top-header {
  background: #0D4077;
  padding: 10px 0;
}
.top-header p {
  padding: 0;
  margin: 0;
  color: #BFD0E8;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
}
.top-header ul li a {
  color: #BFD0E8;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  margin: 0 0 0 30px;
}
.top-header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.top-header ul li a i.fas.fa-user {
  margin-left: 8px;
}

.main-header ul {
  display: flex;
  justify-content: flex-end;
}
.main-header ul li a {
  color: #282B33;
  font-size: 15px;
  font-weight: 500;
  padding: 28px 2px;
  position: relative;
  display: block;
}
.main-header ul li {
  margin: 0 0 0 30px;
}
.main-header ul li a::before
{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  margin: 0 auto;
  width: 0;
  transition: .4s ease-in-out;
  background: #F00A0C;
}
.main-header ul li a:hover
{
  color: #F00A0C;
}
.main-header ul li a:hover
{
  color: #F00A0C;
}
.main-header ul li a.active
{
  color: #F00A0C;
}
.main-header ul li a.active::before
{
  width: 100%;
  transition: .4s ease-in-out;
}
.navbar-light {
  padding: 0;
  background: #fff !important;
}

.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}


.banner-item img
{
  width: 100%;
}
.banner {
  position: relative;
  height: auto;
  overflow: hidden;
}
.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(31 56 86 / 60%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-overlay_content {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
  color: #fff;
}
.banner-left {
  padding: 0 183px 0 0;
}
.banner-left h4 {
  padding: 0 0px 35px 0;
  margin: 0;
  color: #FFFFFF;
  font-size: 42px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.banner-left p {
  padding:0;
  margin: 0;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}
.banner-left .freequotebtn {
  background: #F00A0C;
  padding: 11px 26px;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin: 0 20px 0 0;
  display: inline-block;
  border: #F00A0C solid 1px;
}
.banner-left .ourworkbtn {
  background: none;
  padding: 11px 26px;
  border-radius: 5px;
  color: #F00A0C;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  display: inline-block;
  border: #F00A0C solid 1px;
}
.banner-left ul {
  display: flex;
}

.banner .slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  content: '';
  text-align: center;
  opacity: 1;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: red; */
  border: 2px solid #fff;
  border-radius: 50%;
}
.banner .slick-dots li.slick-active button:before {

  content: '';
  opacity: 1;
  background: #F00A0C;
  border: #F00A0C solid 2px;
  border-radius: 50%;
}
.banner ul.slick-dots {
  position: absolute;
  bottom: 18px;
  z-index: 9;
}
.banner .slick-dots li button {
  padding: 0px;
}
.banner-form {
  background: rgba(13,64,119,0.6);
  padding: 30px 30px 80px 30px;
  position: relative;
  backdrop-filter: blur(16px);
}
.banner-form button {
  background: #ff0000;
  padding: 11px 113px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  border: 0;
}
.banner-form h2 {
  padding: 0;
  margin: 0 0 30px 0;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.banner-form h2:after {
  background: #F00A0C;
  width: 40%;
  height: 2px;
  position: absolute;
  top: 15px;
  right: 0;
  content: "";
}
.banner-form .form-control {
  width: 100%;
  height: 50px;
  border: #fff solid 1px;
  padding: 0 20px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  border-radius: 0;
  background-color: transparent;
}
.banner-form .form-control::placeholder {
  color: #fff;
  opacity: 1;
}
.banner-form .form-group {
  margin-bottom: 1.5rem;
}
.services-right h5 {
  padding: 0;
  margin: 0;
  color: #F00A0C;
  font-size: 25px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.services-right h2 {
  padding: 0 0 25px 0;
  margin: 0;
  color: #282B33;
  font-size: 43px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 48px;
}
.services-right p {
  padding: 0;
  margin: 0;
  color: #282B33;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.services {
  padding: 60px 0;
}
.services-slider-item {
  position: relative;
}
.services-slider-item img {
  width: 100%;
}
.slide-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(13, 64, 119,0.8);
  color: #fff;
  padding: 10px;
  right: 0;
}
.slide-overlay h5 {
  margin: 0;
  font-weight: normal;
  font-size: 19px;
  text-transform: capitalize;
}
.slide-overlay span {
  font-size: 15px;
  color: #bed6ed;
}
.services .slick-slide {
  padding: 0 11px;
}
.services .slick-prev:before, .services .slick-next:before {
  color: #080808;
}
.services-right {
  padding-left: 27px;
}
.ourvideo {
  background: #0D4077;
  text-align: center;
  padding: 13px 0;
}
.ourvideo button.btn.btn-primary {
  background: transparent;
  border: none;
  font-weight: 400;
}
.ourvideo button.btn.btn-primary span {
  text-decoration: underline;
}
.relator {
  padding: 50px 0;
}
.relator h4 {
  padding: 0;
  margin: 0;
  color: #F00A0C;
  font-size: 25px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.relator h2 {
  padding: 0 0 30px 0;
  margin: 0;
  color: #282B33;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.relatorbox {
  border-radius: 20px;
  margin: 0 0 30px 0;
  padding: 15px;
  background: #fff;
  box-shadow: 0px 0px 17px 3px rgb(0 0 0 / 13%);
  transition: .4s ease-in-out;
}
.relatorbox:hover
{
  box-shadow: 0px 0px 20px 10px rgb(0 0 0 / 13%);
  transition: .4s ease-in-out;
}
.relatorbox:hover .relatorbox_img img
{
  transform: scale(1.1);
  transition: .4s ease-in-out;
} 
.relatorbox_img {
  text-align: center;
  overflow: hidden;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 7px solid #0e3d71;
  margin: 0 auto;
}
.relatorbox_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .4s ease-in-out;
}
.relatorbox_text {
  padding: 15px;
}
.relatorbox_text h3 {
  padding: 0 0 13px 0;
  margin: 0 0 0 0;
  color: #0d4077;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  border-bottom: #4c88cb solid 1px;
  text-align: center;
}
.relatorbox_text span {
  color: #000000;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.relatorbox_text b {
  color: #ff0000;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.top-header a.login-btn {
  background: red;
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
  box-shadow: 0px 3px 0px 0px #6e1212;
}
.login-form {
  width: 541px;
  border: 1px solid #ccc;
  padding: 36px;
  margin: 50px auto;
  max-width: 100%;
  border-radius: 10px;
}
.frgtpassword {
  font-size: 14px;
  color: #f00a0c;
}
.login-form h2 {
  padding: 0 0 15px 0;
  margin: 0;
  color: #FF0000;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.login-form .form-control {
  width: 100%;
  height: 50px;
  border: #6C737B solid 1px;
  border-radius: 0;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin: 0 0 10px 0;
}
.login-form label {
  color: #0D4077;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.login-form label a {
  color: #F00A0C;
  text-decoration: underline;
}
.login-form input[type="checkbox"] {
  position: relative;
  z-index: 1;
}
.signupbtn {
  background: #F00A0C;
  padding: 10px 70px;
  border: 0;
  border: #F00A0C solid 1px;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin-right: 30px;
  margin-top: 30px;
  letter-spacing: 2px;
}
p.errormsg {
  margin: 0;
  font-size: 13px;
  color: red;
}
.redphone {
  background: #D50505;
  padding: 30px 0;
  text-align: center;
}
.redphone span {
  display: block;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  margin: 10px 0 30px 0;
}
.footer {
  background: #0E3D71;
  padding: 30px 0 0 0;
}

.footer_l img {
  margin-bottom: 20px;
}
.footer_l p {
  padding: 0 0 20px 0;
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.footerbox h3 {
  padding: 0 0 15px 0;
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.footerbox ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footerbox ul li {
  margin: 0 0 6px 0;
}
.footerbox ul li a {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.footerbox p {
  padding: 0 0 20px 0;
  margin: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.footerbox p a {
  padding: 0 0 5px 0;
  margin: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  display: block;
}
.footerbox p a:hover {
  color: #D50505;
  text-decoration: none;
}
.copyright {
  border-top: #D5D5D5 solid 1px;
  text-align: center;
  padding: 20px 0;
  background: #0E3D71;
}
.copyright p {
  padding: 0;
  margin: 0;
  color: #A2A2A2;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.copyright p {
  padding: 0;
  margin: 0;
  color: #b5b5b5;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.copyright p a
{
  color: #b5b5b5;
}
.teatimonilas_panel {
  padding: 30px 150px 0 150px;
}
.testimonials_r span {
  font-size: 45px;
  color: #666;
}
.testimonials_l {
  width: 245px;
  height: 245px;
  border-radius: 50%;
  background: #D50505;
}
.testimonials_l img {
  width: 245px;
  height: 245px;
  border-radius: 50%;
  margin: 10px 0 0 0;
}
.testimonials_r h3 {
  padding: 14px 0 0 0;
  margin: 0;
  color: #0E3D71;
  font-size: 28px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.testimonials_r h4 {
  padding: 0;
  margin: 0;
  color: #D50505;
  font-size: 21px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}
.testimonials_r p {
  padding: 0;
  margin: 0;
  color: #282B33;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.teatimonilas_panel .slick-prev:before, .teatimonilas_panel .slick-next:before {
  color: #080808;
}

.register-wizard {
  width: 1000px;
  margin: 0 auto;
  max-width: 100%;
  padding: 40px  0;
}
.register-wizard ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}
.register-wizard > ul > li {
  text-align: center;
  padding: 0 30px;
  position: relative;
  width: 25%;
}
.steo-circle {
  width: 100px;
  height: 100px;
  display: flex;
  text-align: center;
  background: #DEDEDE;
  justify-content: center;
  align-items: center;
  font-size: 39px;
  border-radius: 50%;
  color: #fff;
  margin: 0 auto;
}
.register-wizard ul li h5 {
  padding: 0;
  margin: 0;
  color: #0D4077;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}
.register-wizard ul li p {
  padding: 5px 15px 0 15px;
  margin: 0;
  color: #0D4077;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.register-wizard ul li h5 {
  padding: 0;
  margin: 14px 0 0 0;
  color: #0D4077;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}
.register-wizard > ul > li::before {
  content: "";
  position: absolute;
  left: auto;
  top: 52px;
  width: 61%;
  height: 3px;
  background: #0D4077;
  -webkit-transition: all 0.4s ease-in-out 0;
  -moz-transition: all 0.4s ease-in-out 0;
  -ms-transition: all 0.4s ease-in-out 0;
  -otransition: all 0.4s ease-in-out 0;
  transition: all 0.4s ease-in-out 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -otransform: translateY(-50%);
  transform: translateY(-50%);
  right: 174px;
  margin: 0 auto;
}
.register-wizard ul li:first-child::before
{
  display: none;
}
.register-wizard ul li.active .steo-circle
{
  background: red;
}
.register-wizard ul li.active::before
{
  background: red;
}
.register-wizard .form-control {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  border: #ccc solid 1px;
  color: #6C737B;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
button.signupbtn.hide {
  display: none;
}

.backbutton {
  background: #fff;
  padding: 9px 70px;
  border: 0;
  border: #F00A0C solid 1px;
  text-transform: uppercase;
  color: #F00A0C;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin-right: 30px;
  margin-top: 30px;
  letter-spacing: 2px;
  border: 2px solid #F00A0C;
}
.backbutton:disabled
{
  opacity: 0.5;
}
.register-wizard textarea.form-control {
  height: auto;
  padding: 7px 15px;
}
.new {
  padding: 0px;
}
.new .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.new .form-group label {
  position: relative;
  cursor: pointer;
  color: #282B33;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  padding: 0 0 0 12px;
  margin: 0;
}
.new .form-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #282B33;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 50%;
}
.stepselect {
  width: 100%;
  height: 50px;
  border: #6C737B solid 1px;
  border-radius: 0;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
span.stepto {
  color: #6C737B;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  display: block;
}
.new .form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 21px;
  width: 6px;
  height: 11px;
  border: solid #222;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.weekschedual {
  margin-bottom: 16px;
}
.signupbtn:disabled
{
  opacity: 0.5;
}
.input-filed {
  position: relative;
  border: 2px dashed #F00A0C;
  text-align: center;
  height: auto;
  padding: 20px;
}
.regprofile-pic {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
.regprofile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.regprofile-pic label {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 43px;
  height: 43px;
  border: 1px solid red;
  display: flex;
  border-radius: 50%;
  background: #fff;
  justify-content: center;
  align-items: center;
}
.input-filed input[type="file"] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
}
.regprofile-pic label span {
  font-size: 21px;
  color: red;
}
.dashboard-menu {
  background: #0E3D71;
  padding: 20px;
}
.dashboard-menu > ul > li > a {
  padding: 10px 0;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ddd;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  position: relative;
  display: block;
}
.dashboard-menu > ul > li > button {
  padding: 10px 0;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ddd;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  position: relative;
  display: block;
  background: transparent;
  border: none;
}
.dashboard-menu > ul > li > a.active:after {
  width: 97px;
  height: 5px;
  background: #2C5B8F;
  position: absolute;
  top: 20px;
  right: -20px;
  content: "";
}
.afterlogin_right {
  background: #fff;
  box-shadow: 2px 2px 10px #ccc;
  padding: 30px;
  position: relative;
}
.help-support-btn {
  position: absolute;
  right: 25px;
  top: 32px;
  background: #0e3d71;
  color: #fff;
  border: none;
  padding: 7px 20px;
  display: inline-block;
}
.manageprofile_panel {
  width: 100%;
  padding: 42px 0 0 0;
}
.manageprofile_panel .form-control {
  width: 100%;
  height: 50px;
  border: #ccc solid 1px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.afterlogin_right h2 {
  padding: 0 0 20px 0;
  margin: 0 0 0px 0;
  color: #F00A0C;
  font-size: 28px;
  font-family: 500;
  font-family: 'Poppins', sans-serif;
  border-bottom: #0D4077 solid 2px;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin-top: 26px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 52px;
  z-index: 1;
  bottom: -10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-preview {
  width: 120px;
  height: 120px;
  position: relative;
}
.avatar-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.avatar-upload .avatar-edit label {
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #0D4077;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.afterlogin_right h2 small {
  font-size: 13px;
  color: #0e3d71;
}
.relator_services_l {
  padding: 0px 0;
}
.relator_services_l h3 {
  padding: 0 0 10px 0;
  margin: 0;
  color: #282B33;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.relator_services_l p {
  padding: 0;
  margin: 0;
  color: #282B33;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.relator_services_r a {
  background: #F00A0C;
  padding: 14px 60px;
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}
.whychoose {
  
  min-height: 720px;
  padding: 70px 0;
}
.whychoose_top {
  text-align: center;
}
.whychoose_top h2 {
  padding: 0;
  margin: 0 0 20px 0;
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  position: relative;
  display: inline-block;
}
.whychoose_top h2:before {
  width: 30%;
  height: 2px;
  background: #F00A0C;
  position: absolute;
  top: 30px;
  left: -130px;
  content: "";
}
.whychoose_top h2:after {
  width: 30%;
  height: 2px;
  background: #F00A0C;
  position: absolute;
  top: 30px;
  right: -130px;
  content: "";
}
.whychoose_top p {
  padding: 0;
  margin: 0 auto 40px auto;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  position: relative;
  display: inline-block;
  width: 50%;
}
.whychoose_bottom_l {
  border: #fff solid 1px;
  padding: 33px 55px;
  width: 27%;
  display: inline-block;
  margin: 30px 0 0 0;
  text-align: center;
}
.whychoose_bottom_r {
  padding: 52px 0 0 140px;
  display: inline-block;
  width: 70%;
  vertical-align: top;
}
.whychoose_bottom_r ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.whychoose_bottom_r ul li {
  width: 40%;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 0 80px 50px;
  position: relative;
}
.whychoose_bottom_r ul li img {
  position: absolute;
  top: -10px;
  left: -110px;
}
.whychoose_bottom_r ul li span {
  display: block;
}
.whychoose_bottom_l span {
  color: #FFFFFF;
  font-size: 164px;
  font-family: 'Stardom-Regular';
  display: block;
  line-height: 160px;
}
.whychoose_bottom_l b {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  display: block;
  padding: 15px 0 0 0;
}
.card-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}
.regprofile-pic.backgroud-image {
  width: 100%;
}
.regprofile-pic.backgroud-image img {
  border-radius: 0;
}
.inner-banner {
  position: relative;
}
.inner-banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(31 56 86 / 60%);
  z-index: 9;
}
.inner-banner img {
  width: 100%;
}
.inn-banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.inn-banner-content h1 {
  margin: 0;
  color: #FFFFFF;
  font-size: 55px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.find-realtor-form {
  background: #0E3D71;
  padding: 36px 20px;
}
.find-realtor-form h4 {
  padding: 0;
  margin: 0 0 15px 0;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.find-realtor-form .form-control {
  width: 100%;
  height: 50px;
  border: #fff solid 1px;
  padding: 0 20px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  border-radius: 0;
  background-color: transparent;
}
.bannerformsubmit {
  background: #F00A0C;
  padding: 11px 0px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  border: 0;
  width: 100%;
}

.banner-form .row-form {
  flex-direction: column;
}
.banner-form .row-form .col-mn {
  flex: 100%;
  max-width: 100%;
}
.find-realtor-form .form-control::placeholder {
  color: #fffd;
  opacity: 1;
}
.chip {
  background: #ff0000;
}
.highlightOption {
  background: #ff0000;
}
.multiSelectContainer li:hover {
  background: #ff0000;
}


.findrealtor_panel {
  position: relative;
  z-index: 999;
  margin-top: -80px;
}
.findrealtor_top_l {
  height: 160px;
}
.findrealtor_top_l img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.findrealtor_top_r h3 {
  padding: 0 0 10px 0;
  margin: 0;
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.findrealtor_top_r h5 {
  padding: 0 0 30px 0;
  margin: 0;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
.findrealtor_top_r h6 {
  padding: 0 0 5px 0;
  margin: 0;
  color: #F00A0C;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
.findrealtor_top_r h6 {
  padding: 0 0 5px 0;
  margin: 0;
  color: #F00A0C;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
.fullborder {
  border-bottom: #F00A0C solid 2px;
}
.findrealtorbottom_l h2 {
  padding: 20px 0 15px 0;
  margin: 0;
  color: #0D4077;
  font-size: 23px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.findrealtorbottom_l p {
  padding: 0 0 25px 0;
  margin: 0;
  color: #282B33;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.exppanel {
  padding: 20px 0;
}
.exppanel h3 {
  padding: 0;
  margin: 0;
  color: #0D4077;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.exppanel span {
  color: #282B33;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  display: block;
  padding: 10px 0 0 0;
}

.exppanel ul {
  padding: 10px 0 0 0;
  margin: 0;
  list-style: none;
}
.exppanel ul li {
  display: inline-block;
  color: #282B33;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin: 0 0 10px 0;
  width: 30%;
}
.exppanel span {
  color: #282B33;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  display: block;
  padding: 10px 0 0 0;
}
.detailsreviewcomments {
  padding: 10px 0 0 0;
}
.detailsreviewcomments h4 {
  padding: 0 0 15px 0;
  margin: 0;
  color: #464D53;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.detailsreviewcomments textarea {
  width: 50%;
  height: 130px;
  border-radius: 10px;
  background: #0D407714;
  border: #0D4077 solid 1px;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin: 0 0 10px 0;
}
.detailsreviewcomments .detailssend {
  padding: 12px 59px 12px 79px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  border: 0;
  margin: 0 0 30px 0;
  background: #F00A0C;
}
.detailsreviewbox {
  width: 80%;
  border-bottom: #0D4077 solid 1px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-right: 10%;
}
.detailsreviewbox h3 {
  padding: 0;
  margin: 0;
  color: #464D53;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.detailsreviewstar {
  padding: 7px 0;
}
.detailsreviewstar i.checked {
  color: #F00A0C;
}
.detailsreviewbox h5 {
  padding: 0 0 10px 0;
  margin: 0;
  color: #0D4077;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.detailsreviewbox p {
  padding: 0 0 10px 0;
  margin: 0;
  color: #464D53;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.detailsreviewbox h3 span {
  float: right;
  color: #D50505;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.detailsreviewbox h3 span em {
  color: #666;
  font-size: 13px;
}
.detailsreviewbox h3 span i {
  color: #989FA78A;
}
.detailsreviewbox h3 span b {
  display: block;
  text-align: right;
  color: #6C737B;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  padding: 10px 0;
}
.findrealtorbottom_r {
  background: #0D4077;
  padding: 15px;
}
.findrealtorbottom_r h2 {
  padding: 0 0 0 0;
  margin: 0 0 16px 0;
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.findrealtorbottom_r .form-control {
  font-size: 13px;
  background: #ffffff;
  height: auto;
  padding: 12px 12px;
}
.findrealtorbottom_r p.errormsg {
  color: #e7e7e7;
}
.findrealtorbottom_r .btn-primary {
  background: red;
  border: none;
  padding: 9px 24px;
  display: block;
  width: 100%;
}
.details-background img {
  width: 100%;
}
.expbox {
  position: relative;
}
.comon-page {
  border-top: 1px solid #ccc;
}
.relator.testimonial-section {
  text-align: center;
}
.testimonial-form {
  width: 620px;
  text-align: left;
  margin: 40px auto;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 25px;
}
.load-more {
  text-align: center;
}
.load-more button {
  border: none;
  background: red;
  color: #fff;
  display: inline-block;
  padding: 13px 36px;
  border-radius: 5px;
}
.css-1s2u09g-control {
  background-color: transparent !important;
}
.css-1pahdxg-control {
  background-color: transparent !important;
  min-height: 51px !important;
}
.css-1s2u09g-control {
  border-color: #fff !important;
  border-radius: 0px !important;
  min-height: 51px !important;
}
.css-g1d714-ValueContainer {
  padding: 8px 8px !important;
}
.css-14el2xx-placeholder {
  color: #fff !important;
}
.details-background {
  height: 380px;
  overflow: hidden;
  position: relative;
}
.details-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
}
.exppanel span.de-active {
  display: none;
}
.row.de-active {
  display: none;
}
.ReactModal__Overlay--after-open
{
  background-color: rgba(0, 0, 0, 0.75) !important;
}
.ReactModal__Content h2 {
  color: #fff;
  font-size: 20px;
  margin: 0 0 24px 0;
}
.ReactModal__Content .close-btn {
  position: absolute;
  right: 0;
  top: 9px;
  border: none;
  color: #fff;
  background: transparent;
  font-size: 31px;
}
.ReactModal__Content button.btn.btn-warning {
  background: #D50505;
  border: none;
  color: #fff;
  padding: 11px 44px;
}
.ReactModal__Content form label {
  color: #fff;
}
button.btn.btn-primary.testimonialbtn {
  background: #d50505;
  border: none;
  margin-top: 43px;
}
.notification-list {
  padding: 30px 0 26px 70px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
.notification-list label {
  margin: 0;
  position: absolute;
  right: 0;
  top: 45px;
  cursor: pointer;
}
.notification-list b {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: block;
  background: #F00A0C;
  text-align: center;
  color: #fff;
  padding: 10px 0 0 0;
  position: absolute;
  top: 30px;
  left: 0;
}
.notification-list span {
  padding: 0 0 0 0px !important;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  border: 0 !important;
  float: none !important;
  display: block;
  font-style: italic;
}
.notification-list p {
  padding: 0 0 0 0px !important;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #0D4077;
  border: 0 !important;
  float: none !important;
  display: block;
}
.tableafterprofile tr th {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  padding: 7px 10px;
  border: 1px solid #919191;
  background: #0e3d71;
}
.tableafterprofile tr td {
  padding: 7px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
}

table.tableafterprofile {
  width: 100%;
  margin-top: 19px;
}
.manageprofile_panel h3 {
  font-size: 19px;
  border-bottom: 1px solid #F00A0C;
  color: #F00A0C;
  margin: 8px 0 20px 0;
  padding: 0 0 8px 0;
}

.number {
  background: #fff;
  position: relative;
  font: 900 30vmin "Consolas";
  letter-spacing: 5vmin;
  text-shadow: 2px -1px 0 #000, 4px -2px 0 #0a0a0a, 6px -3px 0 #0f0f0f, 8px -4px 0 #141414, 10px -5px 0 #1a1a1a, 12px -6px 0 #1f1f1f, 14px -7px 0 #242424, 16px -8px 0 #292929;
}
.number::before {
  background-color: #673ab7;
  background-image: radial-gradient(closest-side at 50% 50%, #ffc107 100%, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 50% 50%, #e91e63 100%, rgba(0, 0, 0, 0));
  background-repeat: repeat-x;
  background-size: 40vmin 40vmin;
  background-position: -100vmin 20vmin, 100vmin -25vmin;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  -webkit-animation: moving 10s linear infinite both;
          animation: moving 10s linear infinite both;
  display: block;
  position: absolute;
  content: "";
}
@-webkit-keyframes moving {
  to {
    background-position: 100vmin 20vmin, -100vmin -25vmin;
  }
}
@keyframes moving {
  to {
    background-position: 100vmin 20vmin, -100vmin -25vmin;
  }
}

.text {
  font: 400 5vmin "Courgette";
}
.text span {
  font-size: 10vmin;
}
.Toastify__toast-theme--light {

  background: #000 !important;
}
.Toastify__close-button--light {
  color: #fff !important;
}
.cms-page h2 {
  font-size: 29px;
  font-weight: 700;
  margin: 0 0 13px 0;
}
.contact_l span {
  color: #f00;
  font-weight: 600;
  font-size: 20px;
}
.contact-R {
  padding: 30px;
}
p.expiretime {
  text-align: left;
  margin: 20px 0 0 0;
  font-weight: 400;
}
p.expiretime span{
  color: green;
  font-weight: 600;
}
.tableafterprofile tr td div p
{
  margin: 0;
}
.help-support li div {
  display: inline-block;
}
.help-support li div p {
  margin: 0;
}
.help-support li {
  margin-bottom: 11px;
}
ul.help-support {
  margin-top: 21px;
}
ul.pageNumbers {
  display: flex;
  justify-content: flex-end;
  margin-top: 21px;
}
ul.pageNumbers li {
  display: block;
  border: 1px solid #ccc;
  padding: 2px 15px;
  cursor: pointer;
}
ul.pageNumbers li.active, ul.pageNumbers li:hover {
  background: red;
  color: #fff;
  border: 1px solid red;
}
.contact-us
{
  background: #ededed;
}
.contact_l {
  padding: 30px;
  background: #ededed;
}
.contact-bg {
  background: #fff;
}
.contact_l h2 {
  color: #4a4a4a;
}
.contact_l p {
  color: #666;
}
.detailsreviewcomments input.form-control {
  width: 50%;
  border-radius: 5px;
  background: #0D407714;
  border: #0D4077 solid 1px;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin: 0 0 10px 0;
}
.cms-page {
  min-height: calc(100vh - 300px);
}
.cover-photo {
  height: 200px;
  overflow: hidden;
  position: relative;
}
.cover-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.edit-cover {
  position: absolute;
  right: 22px;
  bottom: 16px;
  width: 90px;
  height: 90px;
  background: #0e3d71;
  border-radius: 50%;
  color: #fff;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
}
.edit-cover input#coverUpload {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.top-header p div {
  display: inline-block;
}
.news-box {
  box-shadow: 0px 0px 17px 3px rgb(0 0 0 / 13%);
  margin-bottom: 30px;
}
.news-box_image {
  height: 150px;
}
.news-box_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-box-content {
  padding: 20px;
}
.news-box-content h3 {
  font-size: 20px;
  margin: 0 0 8px 0;
}
.news-box-content p {
  margin: 0;
  color: #666;
  font-size: 15px;
}
button.btn-reply {
  border: none;
  background: red;
  color: #fff;
  padding: 6px 14px;
}
.inner-banner.cms-p {
  height: 244px;
  overflow: hidden;
}
.services-right a {
  background: red;
  display: inline-block;
  color: #fff;
  padding: 7px 16px;
  margin-top: 17px;
}
.swal2-popup {
  border: 2px solid red !important;
}
.swal2-title {
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 1.6 !important;
}
.swal2-confirm {
  background: #0D4077 !important;
}
.slider-image {
  height: 342px;
}
.slider-image img {
  height: 100%;
  object-fit: cover;
}
.news-box a {
  color: #222;
}
.contact-R button.btn.btn-primary {
  background: red;
  border: none;
  padding: 10px 35px;
}
.slide-overlay span i {
  color: red;
}
.slide-overlay label {
  display: block;
  font-size: 13px;
  margin: 0 0 0 0;
  position: absolute;
  right: 9px;
  top: 12px;
}
.relatorbox a {
  color: #666;
}
.relatorbox h5 {
  font-size: 14px;
  margin: 5px 0 0 0;
}
.relatorbox h5 i {
  color: red;
}